.home {
  text-align: center;
  background: rgb(195,34,78);
  background: linear-gradient(0deg, rgba(195,34,78,1) 0%, rgba(253,187,45,1) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
}

.home-text {
  z-index: 5;
}

.pizza {
  pointer-events: none;
  max-width: 300px;
}

@media (prefers-reduced-motion: no-preference) {
  .pizza {
    animation: pizza-spin infinite 20s linear;
  }
}

#pizza-2 {
  position: absolute;
  top: 10%;
  left: 10%;
  max-width: 200px;
}

.link {
  color: #fdbb2d;
  padding-right: 10px;
}

@keyframes pizza-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container-load {
  width: 80%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fdbb2d;
}

.container-row {
  display: flex;
  flex-direction: row;
  position:relative;
}

.container-bar {
  width: "20vw";
  height: "100vh";
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2%;
  font-size: larger;
  background-color: #fdbb2d;
  padding-top: 8%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 5px 0px 30px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #463f3a;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #c3224e;
}

input:focus + .slider {
  box-shadow: 0 0 1px #c3224e;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

select {
  height: 30px;
  margin: 5px 0px 30px;
}

.key {
  display: flex;
  flex-direction: row;
}

.icon {
  margin: 0px 5px 3px;
}

button {
  margin: 20px 0px 5px;
  padding: 5px 10px;
  background-color: #c3224e;
  border-color: #463f3a;
  font-size: large;
  color: white;
  border-radius: 8px;
  z-index: 1;
}

button:hover {
  cursor: pointer;
}

#button-home {
  background-color: #fdbb2d;
  color: black;
}

.info-box {
  width: 20%;
  position: absolute;
  top: 40%;
  left: 10%;
  border: 2px solid black;
  padding: 10px 15px 30px;
}

#info-box-button {
  font-size: 14pt;
  background-color: #fdbb2d;
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 8px;
}

.info-text {
  margin: 10px 0px 20px;
}

.splat-div {
  position: absolute;
  top: .5%;
  right: .5%;
}

#splat {
  width: 10vw;
  position: absolute;
  right: 15%;
  margin: 10px;
  transform: rotate(20deg);
  cursor: pointer;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.modal-content {
  background-color: #fdbb2d;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid black;
  width: 30%;
}

.close {
  color: #c3224e;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#rat {
  bottom: 0%;
  right: 0%;
  position: absolute;
  animation: linear infinite;
  animation-name: run;
  animation-duration: 5s;
  animation-iteration-count: 1
}

@keyframes run {
  0% {
    left: 0;
  }
  100% {
    left: 75%;
  }
}

#skyline {
  width: 60vw;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
}